.contact-container {
    margin: 0 auto;
    .content-form {
        .submit-reset {
            margin-top: 10px;
        }
    }
    .content-information {
        .contact-content {
            padding-top: 25px;
            font-size: 22px;
        }
        .contact-content-6 {
            line-height: 43px;
        }
    }
}

.contact-info {
    position: relative;
    width: fit-content;
}

.contact-info::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    background: black;
    transition: all 1s;
    bottom: 0;
    left: 0;
}

.contact-info:hover::after {
    width: 100%;
}
