<div class="row contact-container container py-5">
    <div class="col-12 col-md-12 col-lg-6 content-form py-5">
        <h2 class="test">CONTACT FORM</h2>
        <form action="#" method="get">
            <div class="mb-3">
                <label for="" class="form-label"></label>
                <input type="text" id="name" name="name" class="form-control" required placeholder="Name">
                <label for="" class="form-label"></label>
                <input type="email" class="form-control" name="" id="" aria-describedby="emailHelpId" placeholder="Email">
                <small id="emailHelpId" class="form-text text-muted"></small>
                <label for="" class="form-label"></label>
                <input type="password" class="form-control" name="" id="" placeholder="Password">
                <label for="" class="form-label"></label>
                <textarea class="form-control" name="" id="" rows="3" placeholder="Message"></textarea>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="">
                <label class="form-check-label" for="">
                  Agree
                </label>
            </div>
            <div class="submit-reset">
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="reset" class="btn btn-primary mx-2 ">Reset</button>
            </div>
        </form>
    </div>
    <div class="col-lg-6 col-12 col-md-12 content-information py-5">
        <h2 class="contact-info">CONTACT INFORMATINON</h2>
        <div class="contact-content">
            <div class="contact-content-6">
                <p><i class="fa-solid fa-circle-envelope"></i> heathycare@gmail.com</p>
                <p><i class="fa-solid fa-circle-phone"></i> 01234456789</p>
                <p><i class="fa-brands fa-facebook"></i> Heathycare/facebook.com</p>
                <p><i class="bi bi-geo-alt-fill"></i> No.8 Ton That Thuyet,My Dinh,Cau Giay,Ha Noi</p>
            </div>
            <p><i class="fa-solid fa-bell-exclamation"></i> Please send information, we will contact you as soon as possible.</p>
        </div>
    </div>
</div>