.appointments-container {
    .content-up {
        .row {
            .doc-img {
                height: auto;
                width: 100%;
                img {
                    border-radius: 50%;
                    object-fit: cover;
                    height: auto;
                    width: 200px;
                }
            }
        }
        select {
            border: none;
            border-bottom: 1px solid black;
            outline: none;
            color: #337ab7;
            font-weight: 500;
            option {
                color: #337ab7;
                font-weight: 500;
            }
        }
        .examination {
            .examination-time {
                .choosing-time {
                    .grid-time {
                        width: fit-content;
                        padding: 0;
                    }
                }
            }
        }
    }
}
