@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
.footer-basic {
    background-color: #f8fafd;
    line-height: 15px;
    padding-top: 20px;
    width: 100vw !important;
    .logo {
        width: auto;
        height: 90px;
        margin-top: 10px;
    }
    h5 {
        color: blue;
    }
    .btn {
        width: auto;
        height: 50px;
    }
    .btn-top {
        width: auto;
        height: 50px;
        margin-left: 3px;
    }
    .img-footer-content {
        img {
            width: 135px;
            height: 50px;
        }
    }
}

.copyright {
    background-color: rgb(75, 75, 245);
    text-align: center;
    height: 20px;
}
