<footer class="footer-basic">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-12 p-3 first">
                <p>
                    <a routerLink=""><img class="logo" src="assets/images/logo.png"></a>
                </p>
                <b style="font-size: 25px;">FPT Academy Intenaltional</b>
                <p><i class="fa-solid fa-location-dot"></i> Số 8 Tôn Thất Thuyết, Mỹ Đình, TP.HN.</p>
                <p><i class="fa-solid fa-check"></i> Business registration number: 0106790291. Hanoi Department of Planning and Investment issued on March 16, 2015</p>
                <a routerLink=""><span><img class="bct"
                            src="https://salavietnam.vn/dataimages/images/20150827110756-dadangky.png"></span></a>

            </div>

            <div class="col-lg-4 col-md-6 col-12 p-3 center">
                <p><a routerLink='/contact'>Contact for cooperation</a></p>
                <p><a routerLink="#">Recruit</a></p>
                <p><a routerLink="/question">Frequently asked questions</a></p>
                <p><a routerLink="#">Terms of use</a></p>
                <p><a routerLink="#">Privacy Policy</a></p>
                <p><a routerLink="#">Complaint handling support process</a></p>
                <p><a routerLink="#">Operational Regulations</a></p>
            </div>
            <div class="col-lg-4 col-md-6 col-12 p-3 last">
                <b>Headquarters in Hanoi</b>
                <p>Số 8 Tôn Thất Thuyết, Mỹ Đình, TP.HN.</p>
                <b>Customer Support</b>
                <p>support@techwiz3.vn (7h - 18h)</p>
                <div class="social-network">
                    <a routerLink="#"><i class="fa-brands fa-facebook"></i></a>
                    <a routerLink="#"><i class="fa-brands fa-twitter"></i></a>
                    <a routerLink="#"><i style="color:red" class="fa-brands fa-google-plus"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright row f-flex justify-content-center bg-dark text-light align-items-center ">
        <span class="company ">Cuộc sống cô đơn © 2022</span>
    </div>
</footer>
