a {
    text-decoration: none;
}

header {
    width: 100vw;
}

ul,
li {
    list-style: none;
}

.home-header-container {
    height: 70px;
    width: 100%;
    padding: 0 20px;
    .home-header-content {
        width: 100%;
        height: 100%;
        .center-content {
            .child-content {
                @media (max-width: 1200px) {
                    div {
                        b {
                            font-size: 12px;
                        }
                        .sub-title {
                            font-size: 9px;
                        }
                    }
                }
                .sub-title {
                    font-size: 12px;
                    font-weight: 400;
                }
            }
        }
        .left-content {
            i {
                font-size: 20px;
                color: grey;
                cursor: pointer;
            }
            a {
                img {
                    height: 50px;
                    width: auto;
                    padding: 0 20px;
                }
            }
        }
        .right-content {
            i {
                color: rgb(59, 109, 245);
            }
            .support {
                padding-right: 5px;
            }
            .userLogin {
                padding-left: 15px;
            }
        }
    }
<<<<<<< HEAD
}
#subHeader {
    width: 300px;
}
.offcanvas-body{
    font-size: 1.3rem;
    padding-top: 0!important;
    padding-left: 0;
    overflow-x: hidden;
    ul {
        padding-left: 0;
    li{
        border-bottom: 1px solid #3498db;
        width: 100vw;
        padding-top: 10px;
        a{
            color: #3498db;
            padding-left: 1rem;
        }
    }
    }
    .about-us {
        padding-left: 10px;
        background-color: #f1f1f1;
        margin: 0;
        width: 100vw;
    }
}
.social-network {
    padding: 10px 0 0 40px;
    a {
        padding-left: 20px;
        i {
            font-size: 40px!important;
        }
    }
=======
>>>>>>> f0080630de5db747df032090ffeb1736a8c5eb97
}