
.right{
    height: auto;
    margin-top: 20px;
    hr {
    border-bottom: 2px solid #dc5902;
    width: 35%;
    margin: 15px 0;
    }
    .content {
        padding: 0.5rem 1rem;
        border-left: 0.25rem solid #eceeef;
    }
    img {
        width: 0 auto;
        max-width: 100%;
    }
    .clock {
        opacity: 50%;
        font-size: 15px;
        padding-right: 20px;
        float: right;
    }
    .datlich{
        margin-top: 40px;
        width: 200px;
        border: 1px solid rgb(64, 64, 203);
        background-color: rgb(64, 64, 203);
        color: white;
        float: right;
        border-radius: 10px;
    }
    .datlich:hover {
        background-color: silver;
    }
    .share {
        text-align: center;
        padding: 50px 0 20px 0;
        p {
            color: #dc5902;
        }
        i {
            color: red;
            font-size: 30px;
            padding-left: 10px;
        }
        .fb {
            color: rgb(68, 68, 247);
        }
    }
    .sortby {
        float: right;
    }
}
.left {
    img {
        object-fit: contain;
    }
    margin-top: 20px;
    hr {
        border-bottom: 2px solid #dc5902;
        width: 35%;
        margin: 15px 0;
    }
    .row-one {
        line-height: 1.7;
    }
    .viemloet {
        a {
            font-size: 15px;
        }
        p {
            font-size: 12px;
            margin-bottom: 0!important;
        }
    }
    .gachduoi {
        color: silver!important;
        width: 100%;
    }
}
.john {
    width: 100%;
    height: 70px;
}
.sortby {
    padding-bottom: 10px;
} 
.cmt {
    width: 100%;
    padding:10px 0 20px 0 ;
    border-top: 1px solid silver;
    border-bottom: 1px solid silver;
}
