<div class="container" style="margin:25px auto">
    <form method="post" (ngSubmit)="submit()">
        <div class="row ">
            <div class="col-xl-6 col-md-5">
                <div class="col mb-2">
                    <label for="" class="form-label">Patient Name</label>
                    <input id="startDate" required class="form-control" #fullname="ngModel" name="fullname" [(ngModel)]="forminput.fullname" type="text" placeholder="Enter Patient Name" />
                    <span *ngIf="fullname.invalid" style="color:red">Please enter Your Fullname</span>
                </div>

                <div class="col mb-2">
                    <label for="" class="form-label">City</label>
                    <select class="form-control form-control-sm|form-control-lg" required name="" id="" (change)="changeCity($event.target)">
                      <option *ngFor="let i of city; let j=index" value="{{j}}">{{i.name}}</option>
                    </select>
                </div>
                <div class=" col mb-2">
                    <label for="" class="form-label">District</label>
                    <select class="form-control form-control-sm|form-control-lg" required name="" id="" (change)="changedistrict($event.target)">
                      <option *ngFor="let i of district; let j=index" value="{{j}}">{{i.name}}</option>
                    </select>
                </div>
                <div class="col mb-2">
                    <label for="" class="form-label">Ward</label>
                    <select class="form-control form-control-sm|form-control-lg" required name="" id="">
                      <option *ngFor="let i of wards; let j=index" value="{{j}}">{{i.name}}</option>
                    </select>
                </div>
                <div class="col mb-2">
                    <label for="" class="form-label">Specific address</label>
                    <input id="startDate" class="form-control" name="Specificaddress" #Sadd="ngModel" [(ngModel)]="forminput.Specificaddress" required type="text" placeholder="Specific address" />
                    <span *ngIf="Sadd.invalid" style="color:red">Please enter Your address</span>
                </div>
                <div class="col mb-2">
                    <label for="" class="form-label">Health Facilities</label>
                    <select class="form-control form-control-sm|form-control-lg" required name="" id="">
                      <option *ngFor="let i of medical_name">{{i}}</option>
                    </select>
                </div>
                <div class="d-flex mb-2">
                    <div class="col-6">
                        <label for="" class="form-label">From</label>
                        <input id="startDate" name="dateform" [(ngModel)]="forminput.dateFrom" class="form-control" type="date" required/>
                        <!-- <span id="startDateSelected">Chọn ngày :</span> -->
                    </div>
                    <div class="col-6 ">
                        <label for="" class="form-label">To</label>
                        <input id="startDate" name="dateto" [(ngModel)]="forminput.dateTo" class="form-control" type="date" required/>
                        <!-- <span id="startDateSelected">Chọn ngày :</span> -->
                    </div>
                </div>
                <br>
                <button type="button" class="btn btn-primary ms-3 col-3 text-light" data-bs-toggle="modal" data-bs-target="#exampleModal">
                  Submit
                </button>
            </div>
            <br>
            <div class="col-xl-6 col-md-7 row">

                <div class="col-xl-12 row ">
                    <div class="col-xl-5">
                        <img src="{{doctorIMG}}" alt="" style="border-radius: 50%;" data-mdb-toggle="animation" data-mdb-animation-reset="true" data-mdb-animation="zoom-in" data-mdb-animation-start="onHover">
                    </div>
                    <div class="col-xl-7 row align-items-center">
                        <h3>{{ddtt}}</h3>
                        <p>{{ddDesc}}</p>
                    </div>
                </div>

                <div class="col-xl-5">
                    <label for="" class="form-label">Doctor prescribes</label>
                    <select name="doctor" id="" (change)="changeDT($event.target)" class=" form-select ">
                      <option  *ngFor="let i of doctorDt;let j =index" value="{{j}}">{{i.name}}</option>
                    </select>
                </div>
                <div>
                    <div class="row">
                        <div class="col-xl-12  mb-2">
                            <label for="" class="form-label">Medicine name</label>
                            <input required class="form-control" type="text" placeholder="Enter Medicine name" (click)="mdcName()" #medicine [value]="medicineName1">
                            <div *ngIf="show">
                                <ul class="medicineName">
                                    <li class="mdcName" type="botton" *ngFor="let i of medicineName" (click)="mdcNamePick(i.name)">{{i.name}}</li>
                                    <!-- *ngFor="let i of medicineName" -->
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-12 row mb-2">
                            <div class="col-xl-4">
                                <label for="" class="form-label">Amount</label>
                                <input required class="form-control" type="number" placeholder="Amount" />
                            </div>
                            <div class=" col-xl form-check">
                                <label for="" class="form-label">User</label><br>
                                <div class="ms-5">
                                    <input required type="checkbox" name="object" value="Người Lớn" #checks [checked]="checkbox" class="form-check-input " (change)="checkk(checks.checked)" /><span>Người Lớn</span><br>
                                    <input required class="form-check-input" name="object" type="checkbox" #checks2 [checked]="!checkbox" (change)="checkk(!checks2.checked)" value="Trẻ Nhỏ" /><span>Trẻ Nhỏ</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-12  mb-2">
                            <label for="" class="form-label">Attention</label><br>
                            <textarea name="note" id="" cols="65" rows="3"></textarea>
                        </div>
                    </div>
                    <button type="button" (click)="submitMDC()" class=" btn bg-primary text-light">Add medicine</button>
                </div>

            </div>
        </div>

    </form>
    <hr>
    <h3>Bronchitis - rhinitis</h3>
    <div style="overflow-x:auto;">
        <table #table1 class="border-1 table">
            <thead class="">
                <tr>
                    <th style="width:5%" scope="col">stt</th>
                    <th style="width:30%" scope="col">Medicine name</th>
                    <th style="width:5%" scope="col">Date</th>
                    <th style="width:30%" scope="col">Usage</th>
                    <th style="width:30%" scope="col">Attention</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let i of medicalfacility">
                    <td scope="row">{{i.stt}}</td>
                    <td>{{i.name}}</td>
                    <td>{{i.date}}</td>
                    <td>{{i.CSD}}</td>
                    <td>Use after eating</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Do you want to save it?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Save</button>
            </div>
        </div>
    </div>
</div>
