table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.medicineName {
    list-style: none;
}

.mdcName {
    margin: 2px;
}

.mdcName:hover {
    background: rgb(206, 206, 206);
}