<div class="background">
  <div class="container">

    <h2 class="title mb-3">My appointments</h2>

    <div>
      <ul class="nav nav-pills nav-justified mb-3">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" [class.active]="displayMode == 'upcoming'" (click)="displayMode = 'upcoming'">Upcoming</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [class.active]="displayMode == 'done'" (click)="displayMode = 'done'">Done</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [class.active]="displayMode == 'cancelled'"(click)="displayMode = 'cancelled'">Cancelled</a>
        </li>
      </ul>
    </div>

    <div *ngIf="displayMode == 'upcoming'">
      <div class="appointment-item p-3 mb-3" *ngFor="let d of data.upcoming">
        <div class="row">
          <div class="col-12 col-md-7 row">
            <div class="col-3">
              <img src="{{d.thumbnail}}"/>
            </div>
            <div class="col-lg-9">
              <h4 class="border-bottom pb-2">{{d.name}}</h4>
              <div class="pb-2">
                {{d.description}}
              </div>
            </div>
          </div>
          <div class="col-12 col-md-5">
            <div class="row border-bottom pb-2 mb-2">
              <b><i class="fa-regular fa-calendar "></i> EXAMINATION SCHEDULES</b>
              <div>{{d.date}}</div>
            </div>
            <div class="row border-bottom pb-2 mb-2">
              <b>ADDRESS OF EXAMINATION</b>
              <b>{{d.facility}}</b>
              <div>{{d.address}}</div>
            </div>
            <div class="row mb-2">
              <b>EXAMINATION PRICE</b>
              <div>{{d.price}}</div>
            </div>
          </div>
        </div>
        <div class="row justify-content-center align-items-center border-top pt-3" >
          <button type="button" class="btn btn-danger col-auto" data-bs-toggle="modal" data-bs-target="#cancelModal">Cancel The Appointment</button>
        </div>
      </div>
    </div>

    <div *ngIf="displayMode == 'done'">
      <div class="appointment-item p-3 mb-3" *ngFor="let d of data.done">
        <div class="row">
          <div class="col-12 col-md-7 row">
            <div class="col-3">
              <img src="{{d.thumbnail}}"/>
            </div>
            <div class="col-lg-9">
              <h4 class="border-bottom pb-2">{{d.name}}</h4>
              <div class="pb-2">
                {{d.description}}
              </div>
            </div>
          </div>
          <div class="col-12 col-md-5">
            <div class="row border-bottom pb-2 mb-2">
              <b><i class="fa-regular fa-calendar "></i> EXAMINATION SCHEDULES</b>
              <div>{{d.date}}</div>
            </div>
            <div class="row border-bottom pb-2 mb-2">
              <b>ADDRESS OF EXAMINATION</b>
              <b>{{d.facility}}</b>
              <div>{{d.address}}</div>
            </div>
            <div class="row mb-2">
              <b>EXAMINATION PRICE</b>
              <div>{{d.price}}</div>
            </div>
          </div>
        </div>
        <div class="row justify-content-center border-top pt-3" >
          <button type="button" class="btn btn-warning col-auto" data-bs-toggle="modal" data-bs-target="#feedbackModal">Give Us Feedback</button>
        </div>
      </div>
    </div>

    <div *ngIf="displayMode == 'cancelled'">
      <div class="appointment-item p-3 mb-3" *ngFor="let d of data.cancelled">
        <div class="row">
          <div class="col-12 col-md-7 row">
            <div class="col-3">
              <img src="{{d.thumbnail}}"/>
            </div>
            <div class="col-lg-9">
              <h4 class="border-bottom pb-2">{{d.name}}</h4>
              <div class="pb-2">
                {{d.description}}
              </div>
            </div>
          </div>
          <div class="col-12 col-md-5">
            <div class="row border-bottom pb-2 mb-2">
              <b><i class="fa-regular fa-calendar "></i> EXAMINATION SCHEDULES</b>
              <div>{{d.date}}</div>
            </div>
            <div class="row border-bottom pb-2 mb-2">
              <b>ADDRESS OF EXAMINATION</b>
              <b>{{d.facility}}</b>
              <div>{{d.address}}</div>
            </div>
            <div class="row mb-2">
              <b>EXAMINATION PRICE</b>
              <div>{{d.price}}</div>
            </div>
          </div>
        </div>
        <div class="row justify-content-center border-top pt-3" >
          <button type="button" class="btn btn-secondary col-auto" style="cursor: default">Cancelled</button>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Modal for Cancel button-->
<div class="modal fade" id="cancelModal" tabindex="-1" aria-labelledby="cancelModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="margin-top: 50%; transform: translateY(-50%)">
    <div class="modal-content">
      <div class="modal-header justify-content-end">
        <h5 class="modal-title col-12 text-center" id="exampleModalLabel">ARE YOU SURE?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="form-floating">
          <textarea class="form-control" placeholder="Reasons" id="floatingTextarea"></textarea>
          <label for="floatingTextarea">Reasons (Optional)</label>
        </div>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-danger">YES</button>
        <button type="button" class="btn btn-success" data-bs-dismiss="modal">NO</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal for Feedback button-->
<div class="modal fade" id="feedbackModal" tabindex="-1" aria-labelledby="feedbackModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="margin-top: 50%; transform: translateY(-50%)">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title col-12 text-center" id="exampleModalLabel1">Your Feedback</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="form-floating">
          <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
          <label for="floatingTextarea2">Comments</label>
        </div>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-warning">Send</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
