<div>
    <div class="question_banner d-none d-lg-block">
        <div class="container">
            <div class="row">
                <div data-test="col" class="col">
                    <h1 class="title"><span>Question?</span></h1>
                    <div>
                        <p class="subtitle">Answer quick questions to help you better understand our products and services.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="card">
                    <!-- <div class="card-collapse" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        Which patients can use the software to register for medical examination?
                        <i data-test="fa" class="fa fa-angle-down"></i>
                    </div>
                    <div class="collapse" id="collapseExample">
                        <div class="card card-body">
                            <p>
                                All patients can use the software to register for medical examination.
                            </p>
                            <p>
                                However, the software is only suitable for patients who have an active medical treatment plan, or a condition that is NOT urgent.
                            </p>
                            <p>
                                In case of EMERGENCY, family members should take the patient to the nearest medical facility or call 911 for assistance.
                            </p>
                        </div>
                    </div> -->
                    <div class="accordion accordion-flush" id="accordionFlushExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header card-collapse" id="flush-headingOne">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">Which patients can use the software to register for medical examination?</button>
                            </h2>
                            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <p>
                                        All patients can use the software to register for medical examination.
                                    </p>
                                    <p>
                                        However, the software is only suitable for patients who have an active medical treatment plan, or a condition that is NOT urgent.
                                    </p>
                                    <p>
                                        In case of EMERGENCY, family members should take the patient to the nearest medical facility or call 911 for assistance.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header card-collapse" id="flush-headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">Can I be refused medical examination by the hospital, after I have registered through the software??</button>
                            </h2>
                            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <p>
                                        Yes
                                    </p>
                                    <p>
                                        In case your actual information does not match the patient information printed on the medical examination card, or you perform medical examination and treatment inconsistent with the examination information on the medical examination card.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header card-collapse" id="flush-headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">What are the reasons why I may be refused medical treatment by the hospital?</button>
                            </h2>
                            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <b>
                                        Your actual information does not match the patient information printed on the medical examination card:
                                    </b>
                                    <li>
                                        Full name
                                    </li>
                                    <li>
                                        Year of Birth
                                    </li>
                                    <li>
                                        Sex
                                    </li>
                                    <li>
                                        Identity card number or identity document...
                                    </li>
                                    <b>
                                        Accordance with the examination information on the medical examination card:
                                    </b>
                                    <li>Wrong date of examination</li>
                                    <li>Not the right specialty</li>
                                    <li>Wrong clinic</li>
                                    <li>No order number yet….</li>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header card-collapse" id="flush-headingFour">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">I have diseases A, B, C… which department do I have to register for?</button>
                            </h2>
                            <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <p>
                                        Please phone the hospital switchboard 12345789 for advice on choosing a specialty.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header card-collapse" id="flush-headingFive">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">Can I use the software to register and get an examination order number and then resell it to the Patient?</button>
                            </h2>
                            <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <p>
                                        No!
                                    </p>
                                    <p>
                                        The software's services are built to serve the patient's medical examination registration needs, for personal use.
                                    </p>
                                    <p>
                                        All acts of using the software's services for commercial purposes, in any form, are not allowed, prohibited and will be fully responsible before the law.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
