<div class="container question">
    <div class="name">
        <h2>Câu hỏi thường gặp</h2>
    </div>
    <div class="accordion" id="accordion-question">
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading-1">
                <button class="accordion-button collapsed p-4" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse-1" aria-expanded="false" aria-controls="collapse-1">
                    ABOUT US
                </button>
            </h2>
            <div id="collapse-1" class="accordion-collapse collapse " aria-labelledby="heading-1"
                data-bs-parent="#accordion-shipping">
                <div class="accordion-body">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading-1-0">
                            <button class="accordion-button collapsed p-4" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse-1-0
                            " aria-expanded="false" aria-controls="collapse-1-1">
                                What is BookingCare?
                            </button>
                        </h2>
                        <div id="collapse-1-0" class="accordion-collapse collapse " aria-labelledby="heading-1-1"
                            data-bs-parent="#accordion-shipping">
                            <div class="accordion-body">
                                <p>BookingCare is a comprehensive Healthcare Platform that connects users to quality,
                                    effective and reliable health care services with over 100 prestigious hospitals,
                                    clinics, and more than 600 doctors. specialists and thousands of quality medical
                                    services.</p>
                                <p>BookingCare connects a network of doctors and specialist medical facilities. Patients
                                    can easily choose the right medical service with verified information and book an
                                    appointment quickly.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading-1-1">
                            <button class="accordion-button collapsed p-4" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse-1-1" aria-expanded="false" aria-controls="collapse-1-1">
                                What do we strive for?
                            </button>
                        </h2>
                        <div id="collapse-1-1" class="accordion-collapse collapse " aria-labelledby="heading-1-1"
                            data-bs-parent="#accordion-shipping">
                            <div class="accordion-body">
                                <p>We strive to build the leading comprehensive healthcare platform in Vietnam reaching
                                    the ASEAN region, helping patients choose appropriate medical services to improve
                                    treatment efficiency, save time and money cost.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading-1-2">
                            <button class="accordion-button collapsed p-4" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse-2" aria-expanded="false" aria-controls="collapse-2">
                                Are we a hospital, or a clinic?
                            </button>
                        </h2>
                        <div id="collapse-2" class="accordion-collapse collapse " aria-labelledby="heading-2"
                            data-bs-parent="#accordion-shipping">
                            <div class="accordion-body">
                                <p>No.</p>
                                <p>is a comprehensive Healthcare Platform that connects users to quality, effective and
                                    reliable healthcare - healthcare services.
                                    Healthy Care connects a network of good doctors in many different hospitals and
                                    clinics. Conceivably, Healthy Care operates under the same model as Taxi Uber or
                                    Grab in the field of Health - Healthcare.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading-1-3">
                            <button class="accordion-button collapsed p-4" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse-3" aria-expanded="false" aria-controls="collapse-3">
                                What is Healthy Care's relationship with hospitals and clinics?
                            </button>
                        </h2>
                        <div id="collapse-3" class="accordion-collapse collapse " aria-labelledby="heading-3"
                            data-bs-parent="#accordion-shipping">
                            <div class="accordion-body">
                                <p>Cooperation partner.</p>

                                <p> cooperates with hospitals/clinics, providing information about medical examination
                                    and treatment at the hospital/clinic to patients so that patients can easily choose
                                    the right doctor and book an appointment quickly.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading-1-4">
                            <button class="accordion-button collapsed p-4" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse-4" aria-expanded="false" aria-controls="collapse-4">
                                Which patient group is BookingCare suitable for?
                            </button>
                        </h2>
                        <div id="collapse-4" class="accordion-collapse collapse " aria-labelledby="heading-3"
                            data-bs-parent="#accordion-shipping">
                            <div class="accordion-body">
                                <p>BookingCare is suitable for patient groups:</p>
                                <ul>
                                    <li>The disease is not of an emergency nature</li>
                                    <li>Chronic illness requires specialist doctor</li>
                                    <li>Patients know their condition well</li>
                                    <li>Desire to actively schedule a scheduled medical examination</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading-1-5">
                            <button class="accordion-button collapsed p-4" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse-5" aria-expanded="false" aria-controls="collapse-5">
                                Bookings are free, so how does BookingCare charge?
                            </button>
                        </h2>
                        <div id="collapse-5" class="accordion-collapse collapse " aria-labelledby="heading-3"
                            data-bs-parent="#accordion-shipping">
                            <div class="accordion-body">
                                <p>Medical facilities will pay service costs for BookingCare</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="accordion" id="accordion-question">
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading-row-2">
                <button class="accordion-button collapsed p-4" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse-row-2" aria-expanded="false" aria-controls="collapse-row-2">
                    USER MANUAL
                </button>
            </h2>
            <div id="collapse-row-2" class="accordion-collapse collapse " aria-labelledby="heading-row-2"
                data-bs-parent="#accordion-shipping">
                <div class="accordion-body">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading-1-1">
                            <button class="accordion-button collapsed p-4" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse-1-1" aria-expanded="false" aria-controls="collapse-1-1">
                                I made an appointment many times but I can't go to the doctor because I'm busy?
                            </button>
                        </h2>
                        <div id="collapse-1-1" class="accordion-collapse collapse " aria-labelledby="heading-1-1"
                            data-bs-parent="#accordion-shipping">
                            <div class="accordion-body">
                                <p>When you want to change the appointment, please notify us so that we can help you
                                    arrange the appointment for you and give the appointment to another patient.</p>
                                <p>If you cancel your appointment without notifying us twice in a row, we may consider
                                    discontinuing your next appointment.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading-1-2">
                            <button class="accordion-button collapsed p-4" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse-2" aria-expanded="false" aria-controls="collapse-2">
                                How do I book an appointment on Healthy Care?
                            </button>
                        </h2>
                        <div id="collapse-2" class="accordion-collapse collapse " aria-labelledby="heading-2"
                            data-bs-parent="#accordion-shipping">
                            <div class="accordion-body">
                                <p>3 steps to book on Healthy Care</p>
                                <ul>
                                    <li>Step 1. You visit the website ... or download the application (Apps) of Healthy Care on Android and iOS operating systems</li>
                                    <li>Step 2. Choose a doctor or medical facility that is suitable for your medical examination and treatment needs</li>
                                    <li>Step 3. Fill in the form and confirm the booking</li>
                                </ul>
                                <p>In case you can't choose the right doctor, you can leave a message on the "Support" section of Healthy Care, we will call you back and provide thoughtful instructions.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading-1-3">
                            <button class="accordion-button collapsed p-4" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse-3" aria-expanded="false" aria-controls="collapse-3">
                                If I enter the wrong information when I make an appointment, can Healthy Care help me?
                            </button>
                        </h2>
                        <div id="collapse-3" class="accordion-collapse collapse " aria-labelledby="heading-3"
                            data-bs-parent="#accordion-shipping">
                            <div class="accordion-body">
                                <p>Have. Please leave information for Healthy Care in the "Support" section.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading-1-4">
                            <button class="accordion-button collapsed p-4" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse-4" aria-expanded="false" aria-controls="collapse-4">
                                What should I do if I want to see another doctor?
                            </button>
                        </h2>
                        <div id="collapse-4" class="accordion-collapse collapse " aria-labelledby="heading-4"
                            data-bs-parent="#accordion-shipping">
                            <div class="accordion-body">
                                <p>Have. Please leave information for Healthy Care in the "Support" section.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading-row-3">
                <button class="accordion-button collapsed p-4" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse-row-3" aria-expanded="false" aria-controls="collapse-row-3">
                    ABOUT THE DOCTOR
                </button>
            </h2>
            <div id="collapse-row-3" class="accordion-collapse collapse " aria-labelledby="heading-row-3"
                data-bs-parent="#accordion-shipping">
                <div class="accordion-body">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading-1-1">
                            <button class="accordion-button collapsed p-4" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse-1-1" aria-expanded="false" aria-controls="collapse-1-1">
                                Are the doctors on the BookingCare system good?
                            </button>
                        </h2>
                        <div id="collapse-1-1" class="accordion-collapse collapse " aria-labelledby="heading-1-1"
                            data-bs-parent="#accordion-shipping">
                            <div class="accordion-body">
                                <p>BookingCare makes it easy for patients to choose a doctor from a network of qualified specialists, with verified information.</p>
                                <p>Doctors on BookingCare system are good specialists, trusted by many patients, highly appreciated by colleagues, and reputable in the industry. The doctors have been working at leading hospitals such as: Bach Mai Hospital, Viet Duc Hospital, 108 Central Military Hospital, 103 Military Medical Hospital, National Children's Hospital, Central Ear Nose Throat Hospital. , Vietnam Heart Institute…</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading-1-2">
                            <button class="accordion-button collapsed p-4" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse-2" aria-expanded="false" aria-controls="collapse-2">
                                What is “the right doctor”?
                            </button>
                        </h2>
                        <div id="collapse-2" class="accordion-collapse collapse " aria-labelledby="heading-2"
                            data-bs-parent="#accordion-shipping">
                            <div class="accordion-body">
                                <p>The specialties are scientifically organized, the doctor's information and experience are verified, the content of the manual is easy to understand along with suggestions from the system, helping patients choose to book an appointment with the right specialist. appropriate for your medical condition.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading-1-3">
                            <button class="accordion-button collapsed p-4" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse-3" aria-expanded="false" aria-controls="collapse-3">
                                Do doctors on BookingCare offer phone consultations?
                            </button>
                        </h2>
                        <div id="collapse-3" class="accordion-collapse collapse " aria-labelledby="heading-3"
                            data-bs-parent="#accordion-shipping">
                            <div class="accordion-body">
                                <p>Currently, BookingCare is supporting patients to book an appointment in two forms: Direct examination at the clinic/hospital and remote examination via Video.</p>
                                <p>For patients who register for direct examination, the doctor will advise when the patient visits the medical facility.</p>
                                <p>For patients who register for telemedicine via Video, the doctor will advise the patient via Video call on the BookingCare app.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading-1-4">
                            <button class="accordion-button collapsed p-4" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse-4" aria-expanded="false" aria-controls="collapse-4">
                                May I have the doctor's phone number and personal information?
                            </button>
                        </h2>
                        <div id="collapse-4" class="accordion-collapse collapse " aria-labelledby="heading-4"
                            data-bs-parent="#accordion-shipping">
                            <div class="accordion-body">
                                <p>No. BookingCare does not provide personal information of doctors other than the information posted on the system.</p>
                                <p>BookingCare is a comprehensive Healthcare Platform that makes it easy for patients to choose the right doctor, service from a network of good specialists, reputable medical facilities, with verified information and to book an appointment fast.</p>
                                <p>For patients who register for direct examination at a medical facility: After making an appointment, the patient goes to the medical facility to be directly examined, consulted and treated by a doctor.</p>
                                <p>For patients who register for the "Telemedicine" service: After successfully booking an appointment, the doctor will contact the patient through the BookingCare App.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading-row-4">
                <button class="accordion-button collapsed p-4" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse-row-4" aria-expanded="false" aria-controls="collapse-row-4">
                    HEALTH FACILITIES
                </button>
            </h2>
            <div id="collapse-row-4" class="accordion-collapse collapse " aria-labelledby="heading-row-4"
                data-bs-parent="#accordion-shipping">
                <div class="accordion-body">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading-1-1">
                            <button class="accordion-button collapsed p-4" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse-1-1" aria-expanded="false" aria-controls="collapse-1-1">
                                I made an appointment many times but I can't go to the doctor because I'm busy?
                            </button>
                        </h2>
                        <div id="collapse-1-1" class="accordion-collapse collapse " aria-labelledby="heading-1-1"
                            data-bs-parent="#accordion-shipping">
                            <div class="accordion-body">
                                <p>When you want to change the appointment, please notify us so that we can help you
                                    arrange the appointment for you and give the appointment to another patient.</p>
                                <p>If you cancel your appointment without notifying us twice in a row, we may consider
                                    discontinuing your next appointment.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading-1-2">
                            <button class="accordion-button collapsed p-4" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse-2" aria-expanded="false" aria-controls="collapse-2">
                                How do I book an appointment on Healthy Care?
                            </button>
                        </h2>
                        <div id="collapse-2" class="accordion-collapse collapse " aria-labelledby="heading-2"
                            data-bs-parent="#accordion-shipping">
                            <div class="accordion-body">
                                <p>3 bước đặt khám trên Healthy Care</p>
                                <ul>
                                    <li>Bước 1. Bạn truy cập trang web ... hoặc tải ứng dụng (Apps) của Healthy Care
                                        trên hệ điều hành Android và iOS</li>
                                    <li>Bước 2. Chọn bác sĩ hoặc cơ sở y tế phù hợp với nhu cầu khám chữa bệnh</li>
                                    <li>Bước 3. Điền thông tin theo mẫu và xác nhận đặt lịch</li>
                                </ul>
                                <p>Trong trường hợp không lựa chọn được bác sĩ phù hợp, bạn có thể để lại lời nhắn trên
                                    mục "Hỗ trợ" trên Healthy Care, chúng tôi sẽ gọi lại và hướng dẫn chu đáo.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading-1-3">
                            <button class="accordion-button collapsed p-4" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse-3" aria-expanded="false" aria-controls="collapse-3">
                                If I enter the wrong information when I make an appointment, can Healthy Care help me?
                            </button>
                        </h2>
                        <div id="collapse-3" class="accordion-collapse collapse " aria-labelledby="heading-3"
                            data-bs-parent="#accordion-shipping">
                            <div class="accordion-body">
                                <p>Have. Please leave information for Healthy Care in the "Support" section.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading-1-4">
                            <button class="accordion-button collapsed p-4" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse-4" aria-expanded="false" aria-controls="collapse-4">
                                What should I do if I want to see another doctor?
                            </button>
                        </h2>
                        <div id="collapse-4" class="accordion-collapse collapse " aria-labelledby="heading-4"
                            data-bs-parent="#accordion-shipping">
                            <div class="accordion-body">
                                <p>Have. Please leave information for Healthy Care in the "Support" section.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading-row-5">
                <button class="accordion-button collapsed p-4" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse-row-5" aria-expanded="false" aria-controls="collapse-row-5">
                    PRICE AND PAYMENT
                </button>
            </h2>
            <div id="collapse-row-5" class="accordion-collapse collapse " aria-labelledby="heading-row-5"
                data-bs-parent="#accordion-shipping">
                <div class="accordion-body">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading-1-1">
                            <button class="accordion-button collapsed p-4" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse-1-1" aria-expanded="false" aria-controls="collapse-1-1">
                                I made an appointment many times but I can't go to the doctor because I'm busy?
                            </button>
                        </h2>
                        <div id="collapse-1-1" class="accordion-collapse collapse " aria-labelledby="heading-1-1"
                            data-bs-parent="#accordion-shipping">
                            <div class="accordion-body">
                                <p>When you want to change the appointment, please notify us so that we can help you
                                    arrange the appointment for you and give the appointment to another patient.</p>
                                <p>If you cancel your appointment without notifying us twice in a row, we may consider
                                    discontinuing your next appointment.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading-1-2">
                            <button class="accordion-button collapsed p-4" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse-2" aria-expanded="false" aria-controls="collapse-2">
                                How do I book an appointment on Healthy Care?
                            </button>
                        </h2>
                        <div id="collapse-2" class="accordion-collapse collapse " aria-labelledby="heading-2"
                            data-bs-parent="#accordion-shipping">
                            <div class="accordion-body">
                                <p>3 bước đặt khám trên Healthy Care</p>
                                <ul>
                                    <li>Bước 1. Bạn truy cập trang web ... hoặc tải ứng dụng (Apps) của Healthy Care
                                        trên hệ điều hành Android và iOS</li>
                                    <li>Bước 2. Chọn bác sĩ hoặc cơ sở y tế phù hợp với nhu cầu khám chữa bệnh</li>
                                    <li>Bước 3. Điền thông tin theo mẫu và xác nhận đặt lịch</li>
                                </ul>
                                <p>Trong trường hợp không lựa chọn được bác sĩ phù hợp, bạn có thể để lại lời nhắn trên
                                    mục "Hỗ trợ" trên Healthy Care, chúng tôi sẽ gọi lại và hướng dẫn chu đáo.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading-1-3">
                            <button class="accordion-button collapsed p-4" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse-3" aria-expanded="false" aria-controls="collapse-3">
                                If I enter the wrong information when I make an appointment, can Healthy Care help me?
                            </button>
                        </h2>
                        <div id="collapse-3" class="accordion-collapse collapse " aria-labelledby="heading-3"
                            data-bs-parent="#accordion-shipping">
                            <div class="accordion-body">
                                <p>Have. Please leave information for Healthy Care in the "Support" section.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading-1-4">
                            <button class="accordion-button collapsed p-4" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse-4" aria-expanded="false" aria-controls="collapse-4">
                                What should I do if I want to see another doctor?
                            </button>
                        </h2>
                        <div id="collapse-4" class="accordion-collapse collapse " aria-labelledby="heading-4"
                            data-bs-parent="#accordion-shipping">
                            <div class="accordion-body">
                                <p>Have. Please leave information for Healthy Care in the "Support" section.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading-row-6">
                <button class="accordion-button collapsed p-4" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse-row-6" aria-expanded="false" aria-controls="collapse-row-6">
                    INSURANCE
                </button>
            </h2>
            <div id="collapse-row-6" class="accordion-collapse collapse " aria-labelledby="heading-row-3"
                data-bs-parent="#accordion-shipping">
                <div class="accordion-body">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading-1-1">
                            <button class="accordion-button collapsed p-4" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse-1-1" aria-expanded="false" aria-controls="collapse-1-1">
                                I made an appointment many times but I can't go to the doctor because I'm busy?
                            </button>
                        </h2>
                        <div id="collapse-1-1" class="accordion-collapse collapse " aria-labelledby="heading-1-1"
                            data-bs-parent="#accordion-shipping">
                            <div class="accordion-body">
                                <p>When you want to change the appointment, please notify us so that we can help you
                                    arrange the appointment for you and give the appointment to another patient.</p>
                                <p>If you cancel your appointment without notifying us twice in a row, we may consider
                                    discontinuing your next appointment.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading-1-2">
                            <button class="accordion-button collapsed p-4" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse-2" aria-expanded="false" aria-controls="collapse-2">
                                How do I book an appointment on Healthy Care?
                            </button>
                        </h2>
                        <div id="collapse-2" class="accordion-collapse collapse " aria-labelledby="heading-2"
                            data-bs-parent="#accordion-shipping">
                            <div class="accordion-body">
                                <p>3 bước đặt khám trên Healthy Care</p>
                                <ul>
                                    <li>Bước 1. Bạn truy cập trang web ... hoặc tải ứng dụng (Apps) của Healthy Care
                                        trên hệ điều hành Android và iOS</li>
                                    <li>Bước 2. Chọn bác sĩ hoặc cơ sở y tế phù hợp với nhu cầu khám chữa bệnh</li>
                                    <li>Bước 3. Điền thông tin theo mẫu và xác nhận đặt lịch</li>
                                </ul>
                                <p>Trong trường hợp không lựa chọn được bác sĩ phù hợp, bạn có thể để lại lời nhắn trên
                                    mục "Hỗ trợ" trên Healthy Care, chúng tôi sẽ gọi lại và hướng dẫn chu đáo.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading-1-3">
                            <button class="accordion-button collapsed p-4" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse-3" aria-expanded="false" aria-controls="collapse-3">
                                If I enter the wrong information when I make an appointment, can Healthy Care help me?
                            </button>
                        </h2>
                        <div id="collapse-3" class="accordion-collapse collapse " aria-labelledby="heading-3"
                            data-bs-parent="#accordion-shipping">
                            <div class="accordion-body">
                                <p>Have. Please leave information for Healthy Care in the "Support" section.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading-1-4">
                            <button class="accordion-button collapsed p-4" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse-4" aria-expanded="false" aria-controls="collapse-4">
                                What should I do if I want to see another doctor?
                            </button>
                        </h2>
                        <div id="collapse-4" class="accordion-collapse collapse " aria-labelledby="heading-4"
                            data-bs-parent="#accordion-shipping">
                            <div class="accordion-body">
                                <p>Have. Please leave information for Healthy Care in the "Support" section.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading-row-7">
                <button class="accordion-button collapsed p-4" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse-row-7" aria-expanded="false" aria-controls="collapse-row-7">
                    CUSTOMER BENEFITS
                </button>
            </h2>
            <div id="collapse-row-7" class="accordion-collapse collapse " aria-labelledby="heading-row-7"
                data-bs-parent="#accordion-shipping">
                <div class="accordion-body">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading-1-1">
                            <button class="accordion-button collapsed p-4" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse-1-1" aria-expanded="false" aria-controls="collapse-1-1">
                                I made an appointment many times but I can't go to the doctor because I'm busy?
                            </button>
                        </h2>
                        <div id="collapse-1-1" class="accordion-collapse collapse " aria-labelledby="heading-1-1"
                            data-bs-parent="#accordion-shipping">
                            <div class="accordion-body">
                                <p>When you want to change the appointment, please notify us so that we can help you
                                    arrange the appointment for you and give the appointment to another patient.</p>
                                <p>If you cancel your appointment without notifying us twice in a row, we may consider
                                    discontinuing your next appointment.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading-1-2">
                            <button class="accordion-button collapsed p-4" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse-2" aria-expanded="false" aria-controls="collapse-2">
                                How do I book an appointment on Healthy Care?
                            </button>
                        </h2>
                        <div id="collapse-2" class="accordion-collapse collapse " aria-labelledby="heading-2"
                            data-bs-parent="#accordion-shipping">
                            <div class="accordion-body">
                                <p>3 bước đặt khám trên Healthy Care</p>
                                <ul>
                                    <li>Bước 1. Bạn truy cập trang web ... hoặc tải ứng dụng (Apps) của Healthy Care
                                        trên hệ điều hành Android và iOS</li>
                                    <li>Bước 2. Chọn bác sĩ hoặc cơ sở y tế phù hợp với nhu cầu khám chữa bệnh</li>
                                    <li>Bước 3. Điền thông tin theo mẫu và xác nhận đặt lịch</li>
                                </ul>
                                <p>Trong trường hợp không lựa chọn được bác sĩ phù hợp, bạn có thể để lại lời nhắn trên
                                    mục "Hỗ trợ" trên Healthy Care, chúng tôi sẽ gọi lại và hướng dẫn chu đáo.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading-1-3">
                            <button class="accordion-button collapsed p-4" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse-3" aria-expanded="false" aria-controls="collapse-3">
                                If I enter the wrong information when I make an appointment, can Healthy Care help me?
                            </button>
                        </h2>
                        <div id="collapse-3" class="accordion-collapse collapse " aria-labelledby="heading-3"
                            data-bs-parent="#accordion-shipping">
                            <div class="accordion-body">
                                <p>Have. Please leave information for Healthy Care in the "Support" section.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading-1-4">
                            <button class="accordion-button collapsed p-4" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse-4" aria-expanded="false" aria-controls="collapse-4">
                                What should I do if I want to see another doctor?
                            </button>
                        </h2>
                        <div id="collapse-4" class="accordion-collapse collapse " aria-labelledby="heading-4"
                            data-bs-parent="#accordion-shipping">
                            <div class="accordion-body">
                                <p>Have. Please leave information for Healthy Care in the "Support" section.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading-row-8">
                <button class="accordion-button collapsed p-4" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse-row-8" aria-expanded="false" aria-controls="collapse-row-8">
                    FAQ AFTER EXAMINATION
                </button>
            </h2>
            <div id="collapse-row-8" class="accordion-collapse collapse " aria-labelledby="heading-row-8"
                data-bs-parent="#accordion-shipping">
                <div class="accordion-body">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading-1-1">
                            <button class="accordion-button collapsed p-4" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse-1-1" aria-expanded="false" aria-controls="collapse-1-1">
                                I made an appointment many times but I can't go to the doctor because I'm busy?
                            </button>
                        </h2>
                        <div id="collapse-1-1" class="accordion-collapse collapse " aria-labelledby="heading-1-1"
                            data-bs-parent="#accordion-shipping">
                            <div class="accordion-body">
                                <p>When you want to change the appointment, please notify us so that we can help you
                                    arrange the appointment for you and give the appointment to another patient.</p>
                                <p>If you cancel your appointment without notifying us twice in a row, we may consider
                                    discontinuing your next appointment.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading-1-2">
                            <button class="accordion-button collapsed p-4" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse-2" aria-expanded="false" aria-controls="collapse-2">
                                How do I book an appointment on Healthy Care?
                            </button>
                        </h2>
                        <div id="collapse-2" class="accordion-collapse collapse " aria-labelledby="heading-2"
                            data-bs-parent="#accordion-shipping">
                            <div class="accordion-body">
                                <p>3 bước đặt khám trên Healthy Care</p>
                                <ul>
                                    <li>Bước 1. Bạn truy cập trang web ... hoặc tải ứng dụng (Apps) của Healthy Care
                                        trên hệ điều hành Android và iOS</li>
                                    <li>Bước 2. Chọn bác sĩ hoặc cơ sở y tế phù hợp với nhu cầu khám chữa bệnh</li>
                                    <li>Bước 3. Điền thông tin theo mẫu và xác nhận đặt lịch</li>
                                </ul>
                                <p>Trong trường hợp không lựa chọn được bác sĩ phù hợp, bạn có thể để lại lời nhắn trên
                                    mục "Hỗ trợ" trên Healthy Care, chúng tôi sẽ gọi lại và hướng dẫn chu đáo.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading-1-3">
                            <button class="accordion-button collapsed p-4" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse-3" aria-expanded="false" aria-controls="collapse-3">
                                If I enter the wrong information when I make an appointment, can Healthy Care help me?
                            </button>
                        </h2>
                        <div id="collapse-3" class="accordion-collapse collapse " aria-labelledby="heading-3"
                            data-bs-parent="#accordion-shipping">
                            <div class="accordion-body">
                                <p>Have. Please leave information for Healthy Care in the "Support" section.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading-1-4">
                            <button class="accordion-button collapsed p-4" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse-4" aria-expanded="false" aria-controls="collapse-4">
                                What should I do if I want to see another doctor?
                            </button>
                        </h2>
                        <div id="collapse-4" class="accordion-collapse collapse " aria-labelledby="heading-4"
                            data-bs-parent="#accordion-shipping">
                            <div class="accordion-body">
                                <p>Have. Please leave information for Healthy Care in the "Support" section.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>