<div class="container question">
    <div class="name">
        <h2>Frequently asked questions</h2>
    </div>
    <div class="accordion" id="accordion-question">
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading-1">
                <button class="accordion-button collapsed p-4" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse-1" aria-expanded="false" aria-controls="collapse-1">
                    ABOUT US
                </button>
            </h2>
            <div id="collapse-1" class="accordion-collapse collapse " aria-labelledby="heading-1"
                data-bs-parent="#accordion-shipping">
                <div class="accordion-body">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading-1-0">
                            <button class="accordion-button collapsed p-4" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse-1-0
                            " aria-expanded="false" aria-controls="collapse-1-1">
                                What is BookingCare?
                            </button>
                        </h2>
                        <div id="collapse-1-0" class="accordion-collapse collapse " aria-labelledby="heading-1-1"
                            data-bs-parent="#accordion-shipping">
                            <div class="accordion-body">
                                <p>BookingCare is a comprehensive Healthcare Platform that connects users to quality,
                                    effective and reliable health care services with over 100 prestigious hospitals,
                                    clinics, and more than 600 doctors. specialists and thousands of quality medical
                                    services.</p>
                                <p>BookingCare connects a network of doctors and specialist medical facilities. Patients
                                    can easily choose the right medical service with verified information and book an
                                    appointment quickly.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading-1-1">
                            <button class="accordion-button collapsed p-4" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse-1-1" aria-expanded="false" aria-controls="collapse-1-1">
                                What do we strive for?
                            </button>
                        </h2>
                        <div id="collapse-1-1" class="accordion-collapse collapse " aria-labelledby="heading-1-1"
                            data-bs-parent="#accordion-shipping">
                            <div class="accordion-body">
                                <p>We strive to build the leading comprehensive healthcare platform in Vietnam reaching
                                    the ASEAN region, helping patients choose appropriate medical services to improve
                                    treatment efficiency, save time and money cost.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading-1-2">
                            <button class="accordion-button collapsed p-4" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse-1-2" aria-expanded="false" aria-controls="collapse-2">
                                Are we a hospital, or a clinic?
                            </button>
                        </h2>
                        <div id="collapse-1-2" class="accordion-collapse collapse " aria-labelledby="heading-2"
                            data-bs-parent="#accordion-shipping">
                            <div class="accordion-body">
                                <p>No.</p>
                                <p>is a comprehensive Healthcare Platform that connects users to quality, effective and
                                    reliable healthcare - healthcare services.
                                    Healthy Care connects a network of good doctors in many different hospitals and
                                    clinics. Conceivably, Healthy Care operates under the same model as Taxi Uber or
                                    Grab in the field of Health - Healthcare.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading-1-3">
                            <button class="accordion-button collapsed p-4" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse-1-3" aria-expanded="false" aria-controls="collapse-3">
                                What is Healthy Care's relationship with hospitals and clinics?
                            </button>
                        </h2>
                        <div id="collapse-1-3" class="accordion-collapse collapse " aria-labelledby="heading-3"
                            data-bs-parent="#accordion-shipping">
                            <div class="accordion-body">
                                <p>Cooperation partner.</p>

                                <p> cooperates with hospitals/clinics, providing information about medical examination
                                    and treatment at the hospital/clinic to patients so that patients can easily choose
                                    the right doctor and book an appointment quickly.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading-1-4">
                            <button class="accordion-button collapsed p-4" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse-1-4" aria-expanded="false" aria-controls="collapse-4">
                                Which patient group is BookingCare suitable for?
                            </button>
                        </h2>
                        <div id="collapse-1-4" class="accordion-collapse collapse " aria-labelledby="heading-3"
                            data-bs-parent="#accordion-shipping">
                            <div class="accordion-body">
                                <p>BookingCare is suitable for patient groups:</p>
                                <ul>
                                    <li>The disease is not of an emergency nature</li>
                                    <li>Chronic illness requires specialist doctor</li>
                                    <li>Patients know their condition well</li>
                                    <li>Desire to actively schedule a scheduled medical examination</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="accordion" id="accordion-question">
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading-row-2">
                <button class="accordion-button collapsed p-4" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse-row-2" aria-expanded="false" aria-controls="collapse-row-2">
                    USER MANUAL
                </button>
            </h2>
            <div id="collapse-row-2" class="accordion-collapse collapse " aria-labelledby="heading-row-2"
                data-bs-parent="#accordion-shipping">
                <div class="accordion-body">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading-2-1">
                            <button class="accordion-button collapsed p-4" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse-2-1" aria-expanded="false" aria-controls="collapse-1-1">
                                I made an appointment many times but I can't go to the doctor because I'm busy?
                            </button>
                        </h2>
                        <div id="collapse-2-1" class="accordion-collapse collapse " aria-labelledby="heading-1-1"
                            data-bs-parent="#accordion-shipping">
                            <div class="accordion-body">
                                <p>When you want to change the appointment, please notify us so that we can help you
                                    arrange the appointment for you and give the appointment to another patient.</p>
                                <p>If you cancel your appointment without notifying us twice in a row, we may consider
                                    discontinuing your next appointment.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading-2-2">
                            <button class="accordion-button collapsed p-4" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse-2-2" aria-expanded="false" aria-controls="collapse-2">
                                How do I book an appointment on Healthy Care?
                            </button>
                        </h2>
                        <div id="collapse-2-2" class="accordion-collapse collapse " aria-labelledby="heading-2"
                            data-bs-parent="#accordion-shipping">
                            <div class="accordion-body">
                                <p>3 steps to book on Healthy Care</p>
                                <ul>
                                    <li>Step 1. You visit the website ... or download the application (Apps) of Healthy Care on Android and iOS operating systems</li>
                                    <li>Step 2. Choose a doctor or medical facility that is suitable for your medical examination and treatment needs</li>
                                    <li>Step 3. Fill in the form and confirm the booking</li>
                                </ul>
                                <p>In case you can't choose the right doctor, you can leave a message on the "Support" section of Healthy Care, we will call you back and provide thoughtful instructions.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading-2-3">
                            <button class="accordion-button collapsed p-4" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse-2-3" aria-expanded="false" aria-controls="collapse-3">
                                If I enter the wrong information when I make an appointment, can Healthy Care help me?
                            </button>
                        </h2>
                        <div id="collapse-2-3" class="accordion-collapse collapse " aria-labelledby="heading-3"
                            data-bs-parent="#accordion-shipping">
                            <div class="accordion-body">
                                <p>Have. Please leave information for Healthy Care in the "Support" section.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading-2-4">
                            <button class="accordion-button collapsed p-4" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse-2-4" aria-expanded="false" aria-controls="collapse-4">
                                What should I do if I want to see another doctor?
                            </button>
                        </h2>
                        <div id="collapse-2-4" class="accordion-collapse collapse " aria-labelledby="heading-4"
                            data-bs-parent="#accordion-shipping">
                            <div class="accordion-body">
                                <p>Have. Please leave information for Healthy Care in the "Support" section.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading-row-3">
                <button class="accordion-button collapsed p-4" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse-row-3" aria-expanded="false" aria-controls="collapse-row-3">
                    ABOUT THE DOCTOR
                </button>
            </h2>
            <div id="collapse-row-3" class="accordion-collapse collapse " aria-labelledby="heading-row-3"
                data-bs-parent="#accordion-shipping">
                <div class="accordion-body">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading-3-1">
                            <button class="accordion-button collapsed p-4" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse-3-1" aria-expanded="false" aria-controls="collapse-1-1">
                                Are the doctors on the BookingCare system good?
                            </button>
                        </h2>
                        <div id="collapse-3-1" class="accordion-collapse collapse " aria-labelledby="heading-1-1"
                            data-bs-parent="#accordion-shipping">
                            <div class="accordion-body">
                                <p>BookingCare makes it easy for patients to choose a doctor from a network of qualified specialists, with verified information.</p>
                                <p>Doctors on BookingCare system are good specialists, trusted by many patients, highly appreciated by colleagues, and reputable in the industry. The doctors have been working at leading hospitals such as: Bach Mai Hospital, Viet Duc Hospital, 108 Central Military Hospital, 103 Military Medical Hospital, National Children's Hospital, Central Ear Nose Throat Hospital. , Vietnam Heart Institute…</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading-3-2">
                            <button class="accordion-button collapsed p-4" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse-3-2" aria-expanded="false" aria-controls="collapse-2">
                                What is “the right doctor”?
                            </button>
                        </h2>
                        <div id="collapse-3-2" class="accordion-collapse collapse " aria-labelledby="heading-2"
                            data-bs-parent="#accordion-shipping">
                            <div class="accordion-body">
                                <p>The specialties are scientifically organized, the doctor's information and experience are verified, the content of the manual is easy to understand along with suggestions from the system, helping patients choose to book an appointment with the right specialist. appropriate for your medical condition.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading-3-3">
                            <button class="accordion-button collapsed p-4" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse-3-3" aria-expanded="false" aria-controls="collapse-3">
                                Do doctors on BookingCare offer phone consultations?
                            </button>
                        </h2>
                        <div id="collapse-3-3" class="accordion-collapse collapse " aria-labelledby="heading-3"
                            data-bs-parent="#accordion-shipping">
                            <div class="accordion-body">
                                <p>Currently, BookingCare is supporting patients to book an appointment in two forms: Direct examination at the clinic/hospital and remote examination via Video.</p>
                                <p>For patients who register for direct examination, the doctor will advise when the patient visits the medical facility.</p>
                                <p>For patients who register for telemedicine via Video, the doctor will advise the patient via Video call on the BookingCare app.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading-3-4">
                            <button class="accordion-button collapsed p-4" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse-3-4" aria-expanded="false" aria-controls="collapse-4">
                                May I have the doctor's phone number and personal information?
                            </button>
                        </h2>
                        <div id="collapse-3-4" class="accordion-collapse collapse " aria-labelledby="heading-4"
                            data-bs-parent="#accordion-shipping">
                            <div class="accordion-body">
                                <p>No. BookingCare does not provide personal information of doctors other than the information posted on the system.</p>
                                <p>BookingCare is a comprehensive Healthcare Platform that makes it easy for patients to choose the right doctor, service from a network of good specialists, reputable medical facilities, with verified information and to book an appointment fast.</p>
                                <p>For patients who register for direct examination at a medical facility: After making an appointment, the patient goes to the medical facility to be directly examined, consulted and treated by a doctor.</p>
                                <p>For patients who register for the "Telemedicine" service: After successfully booking an appointment, the doctor will contact the patient through the BookingCare App.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading-row-4">
                <button class="accordion-button collapsed p-4" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse-row-4" aria-expanded="false" aria-controls="collapse-row-4">
                    HEALTH FACILITIES
                </button>
            </h2>
            <div id="collapse-row-4" class="accordion-collapse collapse " aria-labelledby="heading-row-4"
                data-bs-parent="#accordion-shipping">
                <div class="accordion-body">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading-4-1">
                            <button class="accordion-button collapsed p-4" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse-4-1" aria-expanded="false" aria-controls="collapse-1-1">
                                Are the hospitals and clinics on BookingCare reputable?
                            </button>
                        </h2>
                        <div id="collapse-4-1" class="accordion-collapse collapse " aria-labelledby="heading-1-1"
                            data-bs-parent="#accordion-shipping">
                            <div class="accordion-body">
                                <p>Have. BookingCare always carefully researches and chooses reputable hospitals and clinics to cooperate with in order to bring the reliability of medical examination and treatment quality and reasonable service prices to patients and their families. </p>
                                <p>In addition to professional quality and service, the hospitals and clinics partnered on BookingCare have all the licenses and professional practice certificates in accordance with current medical examination and treatment regulations.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading-4-2">
                            <button class="accordion-button collapsed p-4" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse-4-2" aria-expanded="false" aria-controls="collapse-2">
                                Is the hospital on BookingCare a public hospital or a private hospital?
                            </button>
                        </h2>
                        <div id="collapse-4-2" class="accordion-collapse collapse " aria-labelledby="heading-2"
                            data-bs-parent="#accordion-shipping">
                            <div class="accordion-body">
                                <p>Both. BookingCare connects a network of both public and private medical facilities so that patients have many choices by doctor, by specialty, by reason of examination or by choosing to visit by medical facility.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading-4-3">
                            <button class="accordion-button collapsed p-4" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse-4-3" aria-expanded="false" aria-controls="collapse-3">
                                How do I know the address of the hospital/clinic?
                            </button>
                        </h2>
                        <div id="collapse-4-3" class="accordion-collapse collapse " aria-labelledby="heading-3"
                            data-bs-parent="#accordion-shipping">
                            <div class="accordion-body">
                                <p>The clinic/hospital address where the doctor visits is clearly displayed in the doctor's referral page or displayed in the medical facility's introduction page.</p>
                                <p>In addition, after confirming the booking, BookingCare will send you a detailed examination guide on the way to the hospital or clinic.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading-4-4">
                            <button class="accordion-button collapsed p-4" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse-4-4" aria-expanded="false" aria-controls="collapse-4">
                                What should I do if I want to see another doctor?
                            </button>
                        </h2>
                        <div id="collapse-4-4" class="accordion-collapse collapse " aria-labelledby="heading-4"
                            data-bs-parent="#accordion-shipping">
                            <div class="accordion-body">
                                <p>For each clinic/hospital, BookingCare provides information about the doctor's examination costs and related service costs. The cost of this service corresponds to the type of equipment that the clinic/hospital has..</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading-4-5">
                            <button class="accordion-button collapsed p-4" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse-4-5" aria-expanded="false" aria-controls="collapse-5">
                                Can BookingCare tell me the bus stops to get to the hospital/clinic?
                            </button>
                        </h2>
                        <div id="collapse-4-5" class="accordion-collapse collapse " aria-labelledby="heading-3"
                            data-bs-parent="#accordion-shipping">
                            <div class="accordion-body">
                                <p>Before you go to the doctor, BookingCare will send you a copy of the Visit Guide, which includes directions to the hospital/clinic and a map. You can refer to more to know the location and directions to the hospital/clinic</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading-row-5">
                <button class="accordion-button collapsed p-4" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse-row-5" aria-expanded="false" aria-controls="collapse-row-5">
                    PRICE AND PAYMENT
                </button>
            </h2>
            <div id="collapse-row-5" class="accordion-collapse collapse " aria-labelledby="heading-row-5"
                data-bs-parent="#accordion-shipping">
                <div class="accordion-body">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading-5-1">
                            <button class="accordion-button collapsed p-4" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse-5-1" aria-expanded="false" aria-controls="collapse-1-1">
                                What does “free booking” mean?
                            </button>
                        </h2>
                        <div id="collapse-5-1" class="accordion-collapse collapse " aria-labelledby="heading-1-1"
                            data-bs-parent="#accordion-shipping">
                            <div class="accordion-body">
                                <p>This means that BookingCare is "free to book" (no charge) when making a booking through the BookingCare system. Examination fees and expenses for testing and scanning services will be paid directly according to the price list listed at the hospital/clinic.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading-5-2">
                            <button class="accordion-button collapsed p-4" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse-5-2" aria-expanded="false" aria-controls="collapse-2">
                                How do I know the hospital/clinic fees
                            </button>
                        </h2>
                        <div id="collapse-5-2" class="accordion-collapse collapse " aria-labelledby="heading-2"
                            data-bs-parent="#accordion-shipping">
                            <div class="accordion-body">
                                <p>The cost of the examination will appear right below the doctor's appointment schedule. In addition to the cost of the examination, there are also some service costs related to the doctor's specialty. These costs are according to the price list listed at the hospital/clinic.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading-5-3">
                            <button class="accordion-button collapsed p-4" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse-5-3" aria-expanded="false" aria-controls="collapse-3">
                                How do I know the cost of related hospital/clinic services?
                            </button>
                        </h2>
                        <div id="collapse-5-3" class="accordion-collapse collapse " aria-labelledby="heading-3"
                            data-bs-parent="#accordion-shipping">
                            <div class="accordion-body">
                                <p>The cost of the service is shown just below the doctor's schedule. You click "see more" on the price of the examination to know the cost of the service. These costs are according to the regulations of the clinic/hospital.</p>
                                <p>In addition to related services, during the examination, there may be other tests prescribed by the doctor that are not listed here. We recommend that you talk to your doctor or healthcare provider before agreeing to services.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading-row-6">
                <button class="accordion-button collapsed p-4" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse-row-6" aria-expanded="false" aria-controls="collapse-row-6">
                    INSURANCE
                </button>
            </h2>
            <div id="collapse-row-6" class="accordion-collapse collapse " aria-labelledby="heading-row-3"
                data-bs-parent="#accordion-shipping">
                <div class="accordion-body">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading-6-1">
                            <button class="accordion-button collapsed p-4" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse-6-1" aria-expanded="false" aria-controls="collapse-1-1">
                                Do hospitals and clinics on BC support health insurance payments?
                            </button>
                        </h2>
                        <div id="collapse-6-1" class="accordion-collapse collapse " aria-labelledby="heading-1-1"
                            data-bs-parent="#accordion-shipping">
                            <div class="accordion-body">
                                <p>Depends on the hospital/clinic. For each physician, information about the types of insurance that assist with payment at the hospital/clinic - where the doctor is scheduled - appears just below the doctor's schedule.</p>
                                <p>Note: You need to check the exact date of your doctor's visit for accurate insurance information, as a doctor on the BookingCare system can see different hospitals and clinics.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading-6-2">
                            <button class="accordion-button collapsed p-4" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse-6-2" aria-expanded="false" aria-controls="collapse-2">
                                Do hospitals and clinics on BookingCare underwrite private insurance?
                            </button>
                        </h2>
                        <div id="collapse-6-2" class="accordion-collapse collapse " aria-labelledby="heading-2"
                            data-bs-parent="#accordion-shipping">
                            <div class="accordion-body">
                                <p>Depends on the hospital/clinic. Information about private insurance that is guaranteed directly at the hospital/clinic is displayed directly below the doctor's appointment schedule. You can look up the list of guaranteed insurance directly in this section.</p>
                                <p>In addition, to know exactly what type of card you are using is guaranteed in what categories and how much percentage, you need to bring your insurance card and identification to the hospital/clinic to be recognized by your friends. medical guide. You can also proactively call the insurance company for this information.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading-row-7">
                <button class="accordion-button collapsed p-4" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse-row-7" aria-expanded="false" aria-controls="collapse-row-7">
                    CUSTOMER BENEFITS
                </button>
            </h2>
            <div id="collapse-row-7" class="accordion-collapse collapse " aria-labelledby="heading-row-7"
                data-bs-parent="#accordion-shipping">
                <div class="accordion-body">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading-7-1">
                            <button class="accordion-button collapsed p-4" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse-7-1" aria-expanded="false" aria-controls="collapse-1-1">
                                What are the benefits of booking an appointment through BookingCare?
                            </button>
                        </h2>
                        <div id="collapse-7-1" class="accordion-collapse collapse " aria-labelledby="heading-1-1"
                            data-bs-parent="#accordion-shipping">
                            <div class="accordion-body">
                                <p>The booking system makes it easy for patients to choose the right doctor and book an appointment quickly</p>
                                <ul>
                                    <li>A network of good and reputable specialists with verified information</li>
                                    <li>Doctor's appointment schedule on the system according to the actual time of the doctor at the medical facility (hospital, clinic)</li>
                                    <li>Visit the right doctor that the patient has chosen to schedule an appointment with</li>
                                    <li>Prestigious, reliable medical facilities, reasonable, clear and transparent medical examination and treatment costs (We do not cooperate with unreputable medical facilities).</li>
                                    <li>Support before, during and after the examination</li>
                                    <li>Protect the rights of patients when going to the doctor</li>
                                    <li>Free re-examination</li>
                                </ul>
                                <p>After going to the doctor, if the patient is not satisfied with the doctor's examination, consultation and treatment plan, the system will support the patient to see the doctor again for a more thorough examination and consultation (if the patient required and appropriate). Patients are supported free of charge examination with other doctors of the same specialty (if the patient's request is appropriate).</p>
                                <p>BookingCare does not directly provide medical examination and treatment services, but acts as a connection between patients and doctors. In the reality of medical examination and treatment, the arising problems are unavoidable. Because we have a trusted partnership with doctors and medical facilities, we will thoroughly support patients' concerns. In fact, many of the patient's questions were answered clearly or supported with free re-examination.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading-7-2">
                            <button class="accordion-button collapsed p-4" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse-7-2" aria-expanded="false" aria-controls="collapse-2">
                                How do I book an appointment on Healthy Care?
                            </button>
                        </h2>
                        <div id="collapse-7-2" class="accordion-collapse collapse " aria-labelledby="heading-2"
                            data-bs-parent="#accordion-shipping">
                            <div class="accordion-body">
                                <p>Book your appointment in advance to get the right appointment with your chosen doctor. In the absence of a reservation, you may not be able to see the exact doctor you want to see.</p>
                                <p>Through BookingCare, you will get:</p>
                                <ul>
                                    <li>Get support before, during and after your visit</li>
                                    <li>Know the doctor's information has been verified clearly and transparently</li>
                                    <li>Visit the right doctor that the patient has chosen to schedule an appointment with</li>
                                    <li>Minimizing waiting time to be seen</li>
                                    <li>BookingCare protects your rights when you visit a doctor.</li>
                                    <li>In addition, BookingCare offers a "free" booking service. Medical expenses you pay directly at the hospital or clinic.</li>
                                    <li>Free re-examination</li>
                                </ul>
                                <p>After going to the doctor, if you are not satisfied with the doctor's examination, consultation and treatment plan, the system will support you to see the doctor again for a more thorough examination and consultation (if you have a request). and suitable). You are supported free of charge with other doctors of the same specialty (if your request is appropriate).</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading-7-3">
                            <button class="accordion-button collapsed p-4" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse-7-3" aria-expanded="false" aria-controls="collapse-3">
                                Will I be able to see the same doctor I booked in advance?
                            </button>
                        </h2>
                        <div id="collapse-7-3" class="accordion-collapse collapse " aria-labelledby="heading-3"
                            data-bs-parent="#accordion-shipping">
                            <div class="accordion-body">
                                <p>Yes, you get to see the exact doctor you booked. In fact, doctors can change their schedule unexpectedly for some reason, especially good doctors are often very busy. However, BookingCare always closely monitors the doctor's appointment schedule to update and promptly notify as well as minimize errors.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading-row-8">
                <button class="accordion-button collapsed p-4" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse-row-8" aria-expanded="false" aria-controls="collapse-row-8">
                    FAQ AFTER EXAMINATION
                </button>
            </h2>
            <div id="collapse-row-8" class="accordion-collapse collapse " aria-labelledby="heading-row-8"
                data-bs-parent="#accordion-shipping">
                <div class="accordion-body">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading-8-1">
                            <button class="accordion-button collapsed p-4" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse-8-1" aria-expanded="false" aria-controls="collapse-1-1">
                                Why is the medical service price displayed on BookingCare different from the actual cost at the clinic/hospital?
                            </button>
                        </h2>
                        <div id="collapse-8-1" class="accordion-collapse collapse " aria-labelledby="heading-1-1"
                            data-bs-parent="#accordion-shipping">
                            <div class="accordion-body">
                                <p>All examination and service costs displayed on BookingCare's applications (websites, apps) are listed at the clinic/hospital - where the doctor examines the patient. In the process of cooperation between BookingCare and the clinic/hospital, there may be a change in the clinic/hospital's pricing policy that BookingCare has not promptly updated to the applications.</p>
                                <p>If this is the case, please report it to BookingCare, we take note of the information and quickly update the applications. BookingCare sincerely thanks you.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading-8-2">
                            <button class="accordion-button collapsed p-4" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse-8-2" aria-expanded="false" aria-controls="collapse-2">
                                I forgot to ask the doctor about my diet and exercise regimen after going to the doctor? Can BookingCare help me?
                            </button>
                        </h2>
                        <div id="collapse-8-2" class="accordion-collapse collapse " aria-labelledby="heading-2"
                            data-bs-parent="#accordion-shipping">
                            <div class="accordion-body">
                                <p>Have. But first, you can review your medical examination book, if there is a doctor's contact number in the book, you can directly contact the doctor to ask more questions. In case it is not available, please leave a message on the system, BookingCare will assist you to connect with the hospital/clinic/doctor for you to ask more about the appropriate lifestyle for your condition.</p>
                                <p>In addition, before you go to the doctor, BookingCare also sends you a detailed and complete Examination Guide, including the questions you need to prepare during the doctor's appointment, please read carefully so that the medical examination and treatment process can be completed. more effective.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>